.vscode/settings.json
**/hamiltonians
**/__pycache__
basis_equalities/
data/
graphs/
hamiltonian_coeff_matrix/
moment_matrix_tex_view/
*.ipynb
*.tex
*.err
*.out
*.pkl
*.png
*.dat
*.txt
*.gz
*.npz
*.ptf
*.sol
*.npy

